.vscode
data_details.ipynb
datadetails.ipynb
__pycache__
sample_data.csv
test.csv
train_and_save_model.py
train_data.csv
save.ipynb
test.ipynb
fraud_detection_dashboard1.py
fraud_detection_dashboard0.py